.nav{
    padding-top: var(--padding-container);
    padding-bottom: var(--padding-container);
    --translate-list-header:100%;
}


.nav:target{
    --translate-list-header:0%;
}

.nav__logo{
    border-radius: 50%;
    display: flex;
}