.nav{
    padding-top: var(--padding-container);
    padding-bottom: var(--padding-container);
    --test: blue;
}


.nav:target{
    --test: green;
}

.nav__logo{
    border-radius: 50%;
    display: flex;
}