@import '././modules/utils.css';
@import '././modules/list.css';
@import './modules/layout.css';
@import '././modules/variables.css';
@import '././modules/animations.css';

.body{
    background-image: linear-gradient(var(--primary-theme-color),var(--secundary-theme-color));
    color: var(--primary-text-color);
    font-family: var(--secundary-font-family);
    margin: 0;
}