@import './modules/hero.css';
@import '././modules/variables.css';

.body{
    background-image: linear-gradient(var(--primary-theme-color),var(--secundary-theme-color));
    color: var(--primary-text-color);
    font-family: serif;
    margin: 0;
}