.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.hero__name{
    display: block;
    font-size: 3rem;
    text-decoration: none;
    animation: zoom 1s linear 0s infinite alternate;
}

.hero__letter{
    position: relative;
    transition: filter 1s ease-in-out;
}

.hero__letter:hover{
    filter: brightness(10);
}

.hero__letter::before{
    content: var(--letter);
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.125);
    filter: blur(0.125rem);
}

.hero__letter::after{
    content: var(--letter);
    position: absolute;
    left: 0;
    top: 87.5%;
    filter: blur(0.0625rem);
    transform: rotateX(137.5deg);
}

.hero__letter:nth-child(1){
    color: #EC0B6A;
}

.hero__letter:nth-child(2){
    color: #EC6E0B;
}

.hero__letter:nth-child(3){
    color: #6EEC0B;
}

.hero__letter:nth-child(4){
    color: #0BECBC;
}

.hero__letter:nth-child(5){
    color: #0B60EC;
}

.hero__letter:nth-child(6){
    color: #AF0BEC;
}

.hero__letter:nth-child(7){
    color: #E2EC0B;
}