.section{
    padding-top: var(--padding-section);
    padding-bottom: var(--padding-section);
}

.section--hero{
    box-sizing: border-box;
    min-height: 100vh;
}

.container{
    padding-left: var(--padding-container);
    padding-right: var(--padding-container);
    max-width: var(--max-width-container);
    margin: 0 auto;
}

.f-elements{
    display: flex;
}

.f-elements--center{
    align-items: center;
    justify-content: center;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}


.section__name{
    display: flex;
    font-size: 3rem;
    text-decoration: none;
    animation: zoom 1s linear 0s infinite alternate;
}

.section__letter{
    /* display: flex; */
    position: relative;
    transition: filter 1s ease-in-out;
}

.section__letter:hover{
    filter: brightness(10);
}

.section__letter::before{
    content: var(--letter);
    position: absolute;
    top: 0;
    left: 0;
    transform: scale(1.125);
    filter: blur(0.125rem);
}

.section__letter::after{
    content: var(--letter);
    position: absolute;
    left: 0;
    top: 87.5%;
    filter: blur(0.0625rem);
    transform: rotateX(137.5deg);
}

.section__letter:nth-child(1){
    color: var(--letter-color-1);
}

.section__letter:nth-child(2){
    color: var(--letter-color-2);
}

.section__letter:nth-child(3){
    color: var(--letter-color-3);
}

.section__letter:nth-child(4){
    color: var(--letter-color-4);
}

.section__letter:nth-child(5){
    color: var(--letter-color-5);
}

.section__letter:nth-child(6){
    color: var(--letter-color-6);
}

.section__letter:nth-child(7){
    color: var(--letter-color-7);
}

.section__verse{
    font-weight: 700;
    text-shadow: 0 0 1rem var(--primary-hightlight-color);
}